.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #fff #fff #3a3a3a !important;
}
.filter-tab a {
	color: #8a8a8a;
	font-size: 16px;
}

.filter-tab a:hover {
	color: #444444;
}
.filter-tab {
	position: sticky;
	top: 60px;
	z-index: 255;
}
